In [1]:
# Import libraries
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
# Get Dataset File Path
# path = os.path.abspath("")
# Alternatively
path = os.getcwd()
file = path + "\healthcare_dataset (2).csv"
file

'C:\\Users\\Sri\\last\\healthcare_dataset (2).csv'

In [3]:
# Load Cars Dataset
df = pd.read_csv(file)
df

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,17-11-2022,Patrick Parker,Wallace-Hamilton,Medicare,37491,146,Elective,01-12-2022,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,01-06-2023,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304,404,Emergency,15-06-2023,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,09-01-2019,Paul Baker,Walton LLC,Medicare,36875,292,Emergency,08-02-2019,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,02-05-2020,Brian Chandler,Garcia Ltd,Medicare,23303,480,Urgent,03-05-2020,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,09-07-2021,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086,477,Urgent,02-08-2021,Paracetamol,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,James Hood,83,Male,A+,Obesity,29-07-2022,Samuel Moody,"Wood, Martin and Simmons",UnitedHealthcare,39607,110,Elective,02-08-2022,Ibuprofen,Abnormal
9996,Stephanie Evans,47,Female,AB+,Arthritis,06-01-2022,Christopher Yates,Nash-Krueger,Blue Cross,5996,244,Emergency,29-01-2022,Ibuprofen,Normal
9997,Christopher Martinez,54,Male,B-,Arthritis,01-07-2022,Robert Nicholson,Larson and Sons,Blue Cross,49559,312,Elective,15-07-2022,Ibuprofen,Normal
9998,Amanda Duke,84,Male,A+,Arthritis,06-02-2020,Jamie Lewis,Wilson-Lyons,UnitedHealthcare,25236,420,Urgent,26-02-2020,Penicillin,Normal
9999,Eric King,20,Male,B-,Arthritis,22-03-2023,Tasha Avila,"Torres, Young and Stewart",Aetna,37224,290,Emergency,15-04-2023,Penicillin,Abnormal

In [4]:
# Get Top 5 Records
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
0,Tiffany Ramirez,81,Female,O-,Diabetes,17-11-2022,Patrick Parker,Wallace-Hamilton,Medicare,37491,146,Elective,01-12-2022,Aspirin,Inconclusive
1,Ruben Burns,35,Male,O+,Asthma,01-06-2023,Diane Jackson,"Burke, Griffin and Cooper",UnitedHealthcare,47304,404,Emergency,15-06-2023,Lipitor,Normal
2,Chad Byrd,61,Male,B-,Obesity,09-01-2019,Paul Baker,Walton LLC,Medicare,36875,292,Emergency,08-02-2019,Lipitor,Normal
3,Antonio Frederick,49,Male,B-,Asthma,02-05-2020,Brian Chandler,Garcia Ltd,Medicare,23303,480,Urgent,03-05-2020,Penicillin,Abnormal
4,Mrs. Brandy Flowers,51,Male,O-,Arthritis,09-07-2021,Dustin Griffin,"Jones, Brown and Murray",UnitedHealthcare,18086,477,Urgent,02-08-2021,Paracetamol,Normal

In [5]:
# Get Last 5 Records
df.tail()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results
9995,James Hood,83,Male,A+,Obesity,29-07-2022,Samuel Moody,"Wood, Martin and Simmons",UnitedHealthcare,39607,110,Elective,02-08-2022,Ibuprofen,Abnormal
9996,Stephanie Evans,47,Female,AB+,Arthritis,06-01-2022,Christopher Yates,Nash-Krueger,Blue Cross,5996,244,Emergency,29-01-2022,Ibuprofen,Normal
9997,Christopher Martinez,54,Male,B-,Arthritis,01-07-2022,Robert Nicholson,Larson and Sons,Blue Cross,49559,312,Elective,15-07-2022,Ibuprofen,Normal
9998,Amanda Duke,84,Male,A+,Arthritis,06-02-2020,Jamie Lewis,Wilson-Lyons,UnitedHealthcare,25236,420,Urgent,26-02-2020,Penicillin,Normal
9999,Eric King,20,Male,B-,Arthritis,22-03-2023,Tasha Avila,"Torres, Young and Stewart",Aetna,37224,290,Emergency,15-04-2023,Penicillin,Abnormal

In [6]:
# Get Size of Dataset (Rows and Columns)
df.shape

(10000, 15)

In [7]:
# Get Information about dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                10000 non-null  object
 1   Age                 10000 non-null  int64
 2   Gender              10000 non-null  object
 3   Blood Type          10000 non-null  object
 4   Medical Condition   10000 non-null  object
 5   Date of Admission   10000 non-null  object
 6   Doctor              10000 non-null  object
 7   Hospital            10000 non-null  object
 8   Insurance Provider  10000 non-null  object
 9   Billing Amount      10000 non-null  int64
 10  Room Number         10000 non-null  int64
 11  Admission Type      10000 non-null  object
 12  Discharge Date      10000 non-null  object
 13  Medication          10000 non-null  object
 14  Test Results        10000 non-null  object
dtypes: int64(3), object(12)
memory usage: 1.1+ MB

In [8]:
# Remove unimportant cols:
df.drop(['Name','Doctor','Hospital','Room Number','Date of Admission','Discharge Date'],axis=1, inplace=True)
df.head()

,Age,Gender,Blood Type,Medical Condition,Insurance Provider,Billing Amount,Admission Type,Medication,Test Results
0,81,Female,O-,Diabetes,Medicare,37491,Elective,Aspirin,Inconclusive
1,35,Male,O+,Asthma,UnitedHealthcare,47304,Emergency,Lipitor,Normal
2,61,Male,B-,Obesity,Medicare,36875,Emergency,Lipitor,Normal
3,49,Male,B-,Asthma,Medicare,23303,Urgent,Penicillin,Abnormal
4,51,Male,O-,Arthritis,UnitedHealthcare,18086,Urgent,Paracetamol,Normal

In [9]:
# Print Column Names Only
df.columns

Index(['Age', 'Gender', 'Blood Type', 'Medical Condition',
       'Insurance Provider', 'Billing Amount', 'Admission Type', 'Medication',
       'Test Results'],
      dtype='object')

In [10]:
# To find the total no.of rows which are missing value in a column
df.isnull().sum()

Age                   0
Gender                0
Blood Type            0
Medical Condition     0
Insurance Provider    0
Billing Amount        0
Admission Type        0
Medication            0
Test Results          0
dtype: int64

In [11]:
# This will display rows with at least one null value across all columns
rows_with_null = df[df.isnull().any(axis=1)]
rows_with_null

Empty DataFrame
Columns: [Age, Gender, Blood Type, Medical Condition, Insurance Provider, Billing Amount, Admission Type, Medication, Test Results]
Index: []

In [12]:
# This will display all duplicate rows (excluding the first occurrence)
duplicate_rows = df[df.duplicated()]
duplicate_rows

Empty DataFrame
Columns: [Age, Gender, Blood Type, Medical Condition, Insurance Provider, Billing Amount, Admission Type, Medication, Test Results]
Index: []

In [13]:
# Get unique values from a specific column
unique_values_Type = df['Gender'].unique()
print("Unique values of Gender:", unique_values_Type)

Unique values of Gender: ['Female' 'Male']

In [14]:
import pandas as pd

# Assuming 'Gender' is the column you want to one-hot encode
dummies = pd.get_dummies(df['Gender'], prefix='Gender')

# Convert boolean values to integers (0 and 1)
dummies = dummies.astype(int)

# Merge the dummy variables back into the original dataset
df = pd.concat([df, dummies], axis=1)

# Drop the original 'Gender' column if needed
df = df.drop('Gender', axis=1)

# Display the resulting DataFrame
print(df)

      Age Blood Type Medical Condition Insurance Provider  Billing Amount  \
0      81         O-          Diabetes           Medicare           37491
1      35         O+            Asthma   UnitedHealthcare           47304
2      61         B-           Obesity           Medicare           36875
3      49         B-            Asthma           Medicare           23303
4      51         O-         Arthritis   UnitedHealthcare           18086
...   ...        ...               ...                ...             ...
9995   83         A+           Obesity   UnitedHealthcare           39607
9996   47        AB+         Arthritis         Blue Cross            5996
9997   54         B-         Arthritis         Blue Cross           49559
9998   84         A+         Arthritis   UnitedHealthcare           25236
9999   20         B-         Arthritis              Aetna           37224

     Admission Type   Medication  Test Results  Gender_Female  Gender_Male
0          Elective      Aspirin  Inconclusive              1            0
1         Emergency      Lipitor        Normal              0            1
2         Emergency      Lipitor        Normal              0            1
3            Urgent   Penicillin      Abnormal              0            1
4            Urgent  Paracetamol        Normal              0            1
...             ...          ...           ...            ...          ...
9995       Elective    Ibuprofen      Abnormal              0            1
9996      Emergency    Ibuprofen        Normal              1            0
9997       Elective    Ibuprofen        Normal              0            1
9998         Urgent   Penicillin        Normal              0            1
9999      Emergency   Penicillin      Abnormal              0            1

[10000 rows x 10 columns]

In [15]:
import pandas as pd

# List of columns to one-hot encode
columns_to_encode = ['Blood Type', 'Medical Condition', 'Insurance Provider', 'Admission Type', 'Medication', 'Test Results']

# Loop through each column and perform one-hot encoding
for column in columns_to_encode:
    dummies = pd.get_dummies(df[column], prefix=column)
    dummies = dummies.astype(int)  # Convert boolean values to integers (0 and 1)
    df = pd.concat([df, dummies], axis=1)

# Drop the original categorical columns if needed
df = df.drop(columns=columns_to_encode)

# Display the resulting DataFrame
print(df)

      Age  Billing Amount  Gender_Female  Gender_Male  Blood Type_A+  \
0      81           37491              1            0              0
1      35           47304              0            1              0
2      61           36875              0            1              0
3      49           23303              0            1              0
4      51           18086              0            1              0
...   ...             ...            ...          ...            ...
9995   83           39607              0            1              1
9996   47            5996              1            0              0
9997   54           49559              0            1              0
9998   84           25236              0            1              1
9999   20           37224              0            1              0

      Blood Type_A-  Blood Type_AB+  Blood Type_AB-  Blood Type_B+  \
0                 0               0               0              0
1                 0               0               0              0
2                 0               0               0              0
3                 0               0               0              0
4                 0               0               0              0
...             ...             ...             ...            ...
9995              0               0               0              0
9996              0               1               0              0
9997              0               0               0              0
9998              0               0               0              0
9999              0               0               0              0

      Blood Type_B-  ...  Admission Type_Emergency  Admission Type_Urgent  \
0                 0  ...                         0                      0
1                 0  ...                         1                      0
2                 1  ...                         1                      0
3                 1  ...                         0                      1
4                 0  ...                         0                      1
...             ...  ...                       ...                    ...
9995              0  ...                         0                      0
9996              0  ...                         1                      0
9997              1  ...                         0                      0
9998              0  ...                         0                      1
9999              1  ...                         1                      0

      Medication_Aspirin  Medication_Ibuprofen  Medication_Lipitor  \
0                      1                     0                   0
1                      0                     0                   1
2                      0                     0                   1
3                      0                     0                   0
4                      0                     0                   0
...                  ...                   ...                 ...
9995                   0                     1                   0
9996                   0                     1                   0
9997                   0                     1                   0
9998                   0                     0                   0
9999                   0                     0                   0

      Medication_Paracetamol  Medication_Penicillin  Test Results_Abnormal  \
0                          0                      0                      0
1                          0                      0                      0
2                          0                      0                      0
3                          0                      1                      1
4                          1                      0                      0
...                      ...                    ...                    ...
9995                       0                      0                      1
9996                       0                      0                      0
9997                       0                      0                      0
9998                       0                      1                      0
9999                       0                      1                      1

      Test Results_Inconclusive  Test Results_Normal
0                             1                    0
1                             0                    1
2                             0                    1
3                             0                    0
4                             0                    1
...                         ...                  ...
9995                          0                    0
9996                          0                    1
9997                          0                    1
9998                          0                    1
9999                          0                    0

[10000 rows x 34 columns]

In [16]:
df.head()

,Age,Billing Amount,Gender_Female,Gender_Male,Blood Type_A+,Blood Type_A-,Blood Type_AB+,Blood Type_AB-,Blood Type_B+,Blood Type_B-,...,Admission Type_Emergency,Admission Type_Urgent,Medication_Aspirin,Medication_Ibuprofen,Medication_Lipitor,Medication_Paracetamol,Medication_Penicillin,Test Results_Abnormal,Test Results_Inconclusive,Test Results_Normal
0,81,37491,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
1,35,47304,0,1,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,1
2,61,36875,0,1,0,0,0,0,0,1,...,1,0,0,0,1,0,0,0,0,1
3,49,23303,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,1,1,0,0
4,51,18086,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1

In [17]:
# Assuming 'Age', 'Billing Amount', and other columns are relevant features
x = df[['Age', 'Billing Amount', 'Gender_Female', 'Gender_Male', 'Blood Type_A+', 'Blood Type_A-', 'Blood Type_AB+', 'Blood Type_AB-', 'Blood Type_B+', 'Blood Type_B-', 'Blood Type_O+', 'Blood Type_O-', 'Medication_Ibuprofen', 'Medication_Lipitor', 'Medication_Aspirin', 'Medication_Paracetamol', 'Medication_Penicillin', 'Insurance Provider_Aetna', 'Insurance Provider_Blue Cross', 'Insurance Provider_Cigna', 'Insurance Provider_Medicare', 'Insurance Provider_UnitedHealthcare', 'Medical Condition_Arthritis', 'Medical Condition_Asthma', 'Medical Condition_Cancer', 'Medical Condition_Diabetes', 'Medical Condition_Hypertension', 'Medical Condition_Obesity', 'Test Results_Abnormal', 'Test Results_Inconclusive', 'Admission Type_Elective', 'Admission Type_Emergency', 'Admission Type_Urgent']]
x

,Age,Billing Amount,Gender_Female,Gender_Male,Blood Type_A+,Blood Type_A-,Blood Type_AB+,Blood Type_AB-,Blood Type_B+,Blood Type_B-,...,Medical Condition_Asthma,Medical Condition_Cancer,Medical Condition_Diabetes,Medical Condition_Hypertension,Medical Condition_Obesity,Test Results_Abnormal,Test Results_Inconclusive,Admission Type_Elective,Admission Type_Emergency,Admission Type_Urgent
0,81,37491,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,1,0,0
1,35,47304,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,61,36875,0,1,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
3,49,23303,0,1,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,1
4,51,18086,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,83,39607,0,1,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
9996,47,5996,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9997,54,49559,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9998,84,25236,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9999,20,37224,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0

In [18]:
# Select only numeric type of columns by their names as:
y = df[['Test Results_Normal']]
y

      Test Results_Normal
0                       0
1                       1
2                       1
3                       0
4                       1
...                   ...
9995                    0
9996                    1
9997                    1
9998                    1
9999                    0

[10000 rows x 1 columns]

In [19]:
from sklearn.model_selection import train_test_split
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
print(f"X_train: {X_train.shape}")
print(f"X_test: {X_test.shape}")

X_train: (8000, 33)
X_test: (2000, 33)

In [20]:
from sklearn.preprocessing import StandardScaler
# Standardize the features (optional but recommended)
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [21]:
# Create a SVM model
from sklearn.svm import SVC
# Create SVM classifier
model = SVC(kernel='linear') # You can change the kernel type here (e.g.,
# Fit the model to the training data
model.fit(X_train, y_train)

C:\Users\Sri\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(kernel='linear')

In [22]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [23]:

from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)
# Display the results
print(f"Accuracy: {accuracy:.2f}")
print("Confusion Matrix:")
print(confusion)

Accuracy: 1.00
Confusion Matrix:
[[1342    0]
 [   0  658]]

In [24]:
from sklearn.ensemble import RandomForestClassifier
# Initialize Decision Tree classifier
model = RandomForestClassifier(n_estimators=100, random_state=42)
# Fit the model to the training data
model.fit(X_train, y_train)

C:\Users\Sri\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestClassifier(random_state=42)

In [25]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [26]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion = confusion_matrix(y_test, y_pred)
report = classification_report(y_test, y_pred)
# Display the results
print(f"Accuracy: {accuracy:.2f}")
print("Confusion Matrix:")
print(confusion)
print("Classification Report:")
print(report)

Accuracy: 1.00
Confusion Matrix:
[[1342    0]
 [   0  658]]
Classification Report:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1342
           1       1.00      1.00      1.00       658

    accuracy                           1.00      2000
   macro avg       1.00      1.00      1.00      2000
weighted avg       1.00      1.00      1.00      2000

In [27]:
x.tail()

,Age,Billing Amount,Gender_Female,Gender_Male,Blood Type_A+,Blood Type_A-,Blood Type_AB+,Blood Type_AB-,Blood Type_B+,Blood Type_B-,...,Medical Condition_Asthma,Medical Condition_Cancer,Medical Condition_Diabetes,Medical Condition_Hypertension,Medical Condition_Obesity,Test Results_Abnormal,Test Results_Inconclusive,Admission Type_Elective,Admission Type_Emergency,Admission Type_Urgent
9995,83,39607,0,1,1,0,0,0,0,0,...,0,0,0,0,1,1,0,1,0,0
9996,47,5996,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
9997,54,49559,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9998,84,25236,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
9999,20,37224,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,0

In [28]:
y.tail()

      Test Results_Normal
9995                    0
9996                    1
9997                    1
9998                    1
9999                    0

In [29]:
# # Make predictions on the New data
Age=83
Billing_Amount=39607
Gender_Female = 0
Gender_Male = 1
BloodTypeA_pos = 1
BloodTypeA_neg = 0
BloodTypeAB_pos = 0
BloodTypeAB_neg = 0
BloodTypeB_pos=0
BloodTypeB_neg=0
BloodTypeO_pos=0
BloodTypeO_neg=0
Medication_Lipitor= 0
Medication_Ibuprofen=1
Medication_Aspirin= 0      
Medication_Paracetamol=0
Medication_Penicillin=0
InsuranceProvider_Aetna=0
InsuranceProvider_BlueCross=0
InsuranceProvider_Cigna=0
InsuranceProvider_Medicare=0
InsuranceProvider_UnitedHealthcare=1
MedicalCondition_Arthritis=0
MedicalCondition_Asthma=0
MedicalCondition_Cancer=0
MedicalCondition_Diabetes=0
MedicalCondition_Hypertension=0
MedicalCondition_Obesity=1
TestResults_Abnormal=1
TestResults_Inconclusive=0
AdmissionType_Elective=1
AdmissionType_Emergency=0
AdmissionType_Urgent=0
y_pred = model.predict([[Age,Billing_Amount,Gender_Female, Gender_Male, BloodTypeA_pos, BloodTypeA_neg, BloodTypeAB_pos, BloodTypeAB_neg,BloodTypeB_pos,BloodTypeB_neg,BloodTypeO_pos,BloodTypeO_neg,Medication_Lipitor,Medication_Ibuprofen,Medication_Aspirin,Medication_Paracetamol,Medication_Penicillin,InsuranceProvider_Aetna,InsuranceProvider_BlueCross,InsuranceProvider_Cigna,InsuranceProvider_Medicare,InsuranceProvider_UnitedHealthcare,MedicalCondition_Arthritis,MedicalCondition_Asthma,MedicalCondition_Cancer,MedicalCondition_Diabetes,MedicalCondition_Hypertension,MedicalCondition_Obesity,TestResults_Abnormal,TestResults_Inconclusive,AdmissionType_Elective,AdmissionType_Emergency,AdmissionType_Urgent]])
print(f"Predicted Value: {round(y_pred[0])}")

Predicted Value: 0

In [30]:
# save the model
import pickle
pickle.dump(model, open("Health.pkl", "wb"))

In [31]:
# load the model
model = pickle.load(open("Health.pkl", "rb"))
# # Make predictions on the New data
Age=83
Billing_Amount=39607
Gender_Female = 0
Gender_Male = 1
BloodTypeA_pos = 1
BloodTypeA_neg = 0
BloodTypeAB_pos = 0
BloodTypeAB_neg = 0
BloodTypeB_pos=0
BloodTypeB_neg=0
BloodTypeO_pos=0
BloodTypeO_neg=0
Medication_Lipitor= 0
Medication_Ibuprofen=1
Medication_Aspirin= 0      
Medication_Paracetamol=0
Medication_Penicillin=0
InsuranceProvider_Aetna=0
InsuranceProvider_BlueCross=0
InsuranceProvider_Cigna=0
InsuranceProvider_Medicare=0
InsuranceProvider_UnitedHealthcare=1
MedicalCondition_Arthritis=0
MedicalCondition_Asthma=0
MedicalCondition_Cancer=0
MedicalCondition_Diabetes=0
MedicalCondition_Hypertension=0
MedicalCondition_Obesity=1
TestResults_Abnormal=1
TestResults_Inconclusive=0
AdmissionType_Elective=1
AdmissionType_Emergency=0
AdmissionType_Urgent=0
y_pred = model.predict([[Age,Billing_Amount,Gender_Female, Gender_Male, BloodTypeA_pos, BloodTypeA_neg, BloodTypeAB_pos, BloodTypeAB_neg,BloodTypeB_pos,BloodTypeB_neg,BloodTypeO_pos,BloodTypeO_neg,Medication_Lipitor,Medication_Ibuprofen,Medication_Aspirin,Medication_Paracetamol,Medication_Penicillin,InsuranceProvider_Aetna,InsuranceProvider_BlueCross,InsuranceProvider_Cigna,InsuranceProvider_Medicare,InsuranceProvider_UnitedHealthcare,MedicalCondition_Arthritis,MedicalCondition_Asthma,MedicalCondition_Cancer,MedicalCondition_Diabetes,MedicalCondition_Hypertension,MedicalCondition_Obesity,TestResults_Abnormal,TestResults_Inconclusive,AdmissionType_Elective,AdmissionType_Emergency,AdmissionType_Urgent]])
print(f"Predicted Value: {round(y_pred[0])}")

Predicted Value: 0